---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Photo Portfolio">
	<main class="h-screen bg-header  bg-cover bg-center ">
		<Header/>
    </main>
</Layout>

<style>
	
</style>
